_site/
.bundle/
.cache/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.quarto/
**/.quarto/
**/*.quarto_ipynb
assets/quarto/**/assets/
.DS_Store
node_modules/
sandbox/
test-results/
vendor/
tmp/
__pycache__/
*.pyc
